.header-leaf__decoration_1 {
  opacity: 0.9;
  filter: blur(10px);
  transform: matrix(0.69, 0.72, 0.72, -0.69, 0, 0) rotate(170deg);
  top: 0;
  left: -392px;

  img {
    width: 962.34px;
    height: 641.11px;
  }
}

.header-leaf__decoration_2 {
  opacity: 0.5;
  filter: blur(10px);
  right: -400px;
  top: -100px;

  img {
    width: 1152.45px;
    height: 767.76px;
  }
}

.consultation-cloudy__decoration_1 {
  bottom: 300px;
}

.consultation-cloudy__decoration_2 {
  bottom: -240px;
  right: -50px;
  z-index: 10;
}

.history-success__leaf__decoration_1 {
  filter: blur(10px);
  top: 430px;
  left: -550px;
  z-index: -1;
  position: absolute;
  transform: rotate(-385deg);

  img {
    width: 1027.67px;
    height: 684.63px;
  }
}

.history-success__leaf__decoration_2 {
  top: 482px;
  z-index: -1;
  transform: matrix(1, 0.07, 0.07, -1, 0, 0) rotate(-190deg);
  right: -500px;

  img {
    width: 778.78px;
    height: 578.89px;
  }
}

.history-success__leaf__decoration_3 {
  top: 882px;
  z-index: -1;
  transform: rotate(200deg);
  right: -400px;

  img {
    width: 674.37px;
    height: 505.22px;
  }
}

.webinar-program__decoration {
  bottom: -200px;
  right: 0;
}

.header-taro__decoration_1 {
  top: 0;
  left: 0;

  img {
    width: 348px;
    height: 620px;
  }

  @media (max-width: 1700px) {
    img {
      width: calc(348px - 30%);
      height: calc(620px - 30%);
    }
    //top: 200px;

  }
}

.header-taro__decoration_2 {
  top: 30px;
  right: 0;

  img {
    width: 348px;
    height: 620px;
  }

  @media (max-width: 1700px) {
    img {
      width: calc(348px - 30%);
      height: calc(620px - 30%);
    }
    right: -207px;
    top: 207px;

  }
}

.about-person__leaf__decoration_1 {
  top: 22px;
  left: -201px;
  filter: blur(10px);
  transform: matrix(0.69, 0.72, 0.72, -0.69, 0, 0) rotate(-188deg);
  z-index: -1;

  img {
    width: 962.34px;
    height: 641.11px;
  }
}

.about-person__leaf__decoration_2 {
  transform: rotate(-4deg);
  right: -433px;
  top: -141px;

  img {
    width: 1152.45px;
    height: 767.76px;
  }
}

.header-consultation__leaf__decoration {
  top: -87px;
  left: -368px;
  transform: rotate(117deg);
  filter: blur(10px);
  img {
    width: 962.34px;
    height: 710.11px;
  }

  @media (max-width: 1700px) {
    display: none;
  }
}


.header-consultation__cloudy__decoration {
  bottom: 277px;
  right: -50px;
}

.person-consultation__leaf__decoration_1 {
  top: 0;
  right: -99px;
  transform: rotate(28deg);

  img {
    width: 830.39px;
    height: 553.2px;
  }

  @media (max-width: 1700px) {
    display: none;
  }
}

.person-consultation__big-logo  {
  left: 106px;
  top: -70px;

  @media (max-width: 1700px) {
    left: -50px;
  }
}

.person-consultation__box__cloudy__decoration_1 {
  bottom: 180px;
  right: -25px;
}

.person-consultation__box__cloudy__decoration_2 {
  bottom: -199px;
  left: 6px;
  z-index: 0;
}

.webinar-videos__leaf__decoration_1 {
  bottom: -161px;
  left: -129px;
  transform: rotate(-180deg) matrix(-0.98, 0.2, 0.2, 0.98, 0, 0);
  filter: blur(9px);

  img {
    width: 997.23px;
    height: 664.35px;
  }
}

.webinar-videos__leaf__decoration_2 {
  top: 270px;
  right: -24px;
  transform: rotate(153deg);

  img {
    width: 710.78px;
    height: 541.89px;
  }
}

.about-person__cloudy__decoration_1 {
  bottom: -159px;
  left: 0;
  z-index: 0;

  img {

  }
}

.about-person__cloudy__decoration_2 {
  top: 0;
  right: 0;
  z-index: 0;

  img {

  }
}

.header-contacts__cloudy__decoration {
  top: -24px;
  left: -86px;
  z-index: 10;
}
