.header-content__title {
  text-transform: uppercase;
  font-family: 'Kudryashev Headline';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 127.4%;

  &.header-content__title__home {
    max-width: 785px;
    margin-bottom: 80px;

    @media (max-width: 1250px) {
      margin-top: 167px;
    }
  }

  @media (max-width: 1250px) {
    font-size: 24px;
    line-height: 127.4%;
  }
}

.header-content {
  &__home {
    margin-top: 95px;
  }

  &__course {
    margin-top: 200px;

    &__inf-box {
      margin-top: 28px;
      background: #F7EFE9;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 22px;
      padding: 24px 80px 34px 44px;
      display: flex;
      justify-content: space-between;
      position: relative;

      @media (max-width: 1250px) {
        padding: 44px 44px 34px 17px;
      }

      &__title {
        color: #958578;
        font-size: 32px;
        text-transform: none;
        margin-top: 30px;

        @media (max-width: 1250px) {
          font-size: 20px;
          line-height: 102.9%;
          margin: 0;
        }
      }

      &__list {

        li {
          margin-bottom: 22px;
          position: relative;
          &.item-www {
            &::before {
              content: '';
              width: 35px;
              height: 35px;
              background: url("../../assets/img/icons/www.svg");
              position: absolute;
              top: -5px;
              left: -60px;
            }
          }

          &.item-calendar {
            &::before {
              content: '';
              width: 35px;
              height: 35px;
              background: url("../../assets/img/icons/calendar.svg");
              position: absolute;
              top: -5px;
              left: -60px;
            }
          }

          &.item-clock {
            &::before {
              content: '';
              width: 35px;
              height: 35px;
              background: url("../../assets/img/icons/clock.svg");
              position: absolute;
              top: -5px;
              left: -60px;
            }
          }
        }
      }
    }
  }
}

.header-content__course__inf-box__list {
  li {
    margin-bottom: 22px;
    position: relative;

    &::before {
      top: -5px;
      left: -60px;
    }

    &.item-www {
      &::before {
        content: '';
        width: 35px;
        height: 35px;
        background: url("../../assets/img/icons/www.svg");
        position: absolute;
      }
    }

    &.item-calendar {
      &::before {
        content: '';
        width: 35px;
        height: 35px;
        background: url("../../assets/img/icons/calendar.svg");
        position: absolute;
      }
    }

    &.item-clock {
      &::before {
        content: '';
        width: 35px;
        height: 35px;
        background: url("../../assets/img/icons/clock.svg");
        position: absolute;
      }
    }
  }

  @media (max-width: 1250px) {
    margin-top: 40px;
    padding-left: 70px;
  }
}

.header-content__consultation {
  margin-top: 110px;
}

.header-content__consultation__row {
  display: flex;
  justify-content: space-between;
}

.header-content__consultation__row__box_1 {
  padding-top: 50px;
}

.header-content__consultation__row__box_2 {
}

.header-content__consultation__img {
  max-width: 382px;
  max-height: 473px;

  img {
    width: 100%;
  }
}

.header-content__consultation__btn {
  @include link-reset;
  @include gold-btn;
}

.header-content__consultation__subtitle {
  margin: 55px 0 200px 0;
}

.header-content__course__price-box {
  margin-top: 130px;
  border: 1px solid #958578;
  filter: drop-shadow(0px -9px 22px rgba(0, 0, 0, 0.1));
  border-radius: 74px;
  display: inline-block;
  border-left: none;

  &__wrapper {
    align-items: center;
    display: flex;
  }

  @media (max-width: 1250px) {
    margin-top: 100px;
    background: #F7EFE9;
    border: 1px solid #958578;
    border-radius: 23px;
    position: relative;
    width: 212px;
    height: 78px;

    &__wrapper {
      display: block;
    }
  }
}

.header-content__course__price-box__btn {
  @include link-reset;
  @include gold-btn;
  position: relative;
  z-index: 10;

  @media (max-width: 1250px) {
    position: absolute;
    width: 212px;
    top: -23px;
  }
}

.header-content__course__price-box__subtitle {
  font-family: 'Kudryashev Headline';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  color: #958578;
  padding: 3px 36px 7px 50px;

  @media (max-width: 1250px) {
    margin-top: 40px;
    font-size: 20px;
    line-height: 127.4%;
    font-weight: 600;
    padding: 0;
    text-align: center;
  }
}

.header-content__course__title {
  position: relative;

  &::before {
    content: '';
    width: 641px;
    height: 380px;
    background: url("../../assets/img/decoration/space.svg");
    background-size: cover;
    position: absolute;
    top: -177px;
    left: -143px;
  }

  @media (max-width: 1250px) {
    font-size: 24px;
    line-height: 127.4%;
    &::before {
      width: 338.28px;
      height: 200px;
      transform: rotate(180deg);
      top: -73px;
      z-index: 10;
      left: -143px;
    }
  }
}


.quote-block {
  background: #F7EFE9;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 29px;
  padding: 56px 56px 49px 56px;
  position: relative;
  margin-bottom: 100px;
  max-width: 844px;

  p {
    font-weight: 500;
    font-size: 25px;
    color: #958578;

    &::before {
      content: '”';
      position: absolute;
      font-family: 'Kudryashev Headline';
      font-weight: 500;
      font-size: 96px;
      transform: rotate(180deg);
      left: 15px;
      top: 10px;
    }

    &::after {
      content: '”';
      position: absolute;
      font-family: 'Kudryashev Headline';
      font-weight: 500;
      font-size: 96px;
      bottom: 0px;
    }
  }

  @media (max-width: 1250px) {
    margin-bottom: 256px;
    padding: 14.5px 17px;

    p {
      max-width: 210px;
      &::after, &::before {
        display: none;
      }
      font-weight: 400;
      font-size: 16px;
      line-height: 98.4%;
    }
  }
}