.history-success {
  min-height: 991px;
  background: url("../../assets/img/background/home/3.jpg");
  width: 100%;
  padding-top: 150px;
  text-align: center;
  background-repeat: no-repeat;
  margin-bottom: 55px;
  position: relative;
  z-index: 1;

  @media (max-width: 1250px) {
    background: none;
    padding: 0;
  }
}

.history-success__title {
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 43px;

  @media (max-width: 1250px) {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
}

.history-success__subtitle {
  max-width: 900px;
  margin: 0 auto 60px auto;

  @media (max-width: 1250px) {
    font-size: 15px;
    line-height: 17px;
  }
}

.history-success__box {
  background: #FFFFFF;
  box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 80px 80px 50px 50px;
  padding: 68px;
  position: relative;

  @media (max-width: 1250px) {
    padding: 24px;
    border-radius: 20px;
  }
}

.history-success__box__title {
  color: #958578;
  font-family: 'Kudryashev Headline';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;

  @media (max-width: 1250px) {
    font-size: 20px;
    line-height: 138.5%;
  }
}

.slide-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;

  img {
    width: 100%;
  }

  @media (max-width: 1250px) {
    width: 20.58px;
    height: 20.58px;
  }
}

.youtube-slider {
  position: relative;
  margin-bottom: 44px;

  @media (max-width: 1250px) {
    margin-bottom: 20px;
  }
}

.youtube-slider-item {
  img {
    width: 100%;
  }
}

.nav-left {
  left: -38px;

  @media (max-width: 1250px) {
    left: -10px;
  }
}

.nav-right {
  right: -38px;

  @media (max-width: 1250px) {
    right: -10px;
  }
}

.subscribe-btn {
  @include link-reset;
  margin: 0 auto;
  display: inline-block;

  span {
    position: relative;
    background: #F7EFE9;
    border: 1px solid #958578;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    width: 301px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #958578;
    padding: 12px 30px 12px 110px;

    &::before {
      content: '';
      position: absolute;
      width: 55px;
      height: 40px;
      background: url("../../assets/img/icons/youtube.svg");
      background-repeat: no-repeat;
      background-size: cover;
      left: 27px;
      top: 8px;
    }
  }

  @media (max-width: 1250px) {
    span {
      font-size: 15px;
      line-height: 17px;
      padding: 9px 11px 13px 55px;

      &::before {
        width: 35.18px;
        height: 25.72px;
        left: 15px;
        top: 7px;
      }
    }
  }
}

.history-success__box__advice {
  margin: 100px auto 120px auto;
  max-width: 762px;

  @media (max-width: 1250px) {
    margin: 42px 0 56px 0;
  }
}

.history-success__box__advice__title {
  margin-bottom: 44px;

  @media (max-width: 1250px) {
    margin-bottom: 25px;
  }
}

.history-success__box__advice-list {
  text-align: left;
  margin: 0 auto;

  li {
    margin-bottom: 15px;

    span {
      font-weight: 600;
    }
  }

  @media (max-width: 1250px) {
    li {
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 10px;
    }
  }
}

.webinar-box {

}

.webinar-box__title {
  font-size: 35px;
  line-height: 53px;
  margin-bottom: 50px;

  span {
    color: #958578;
  }

  @media (max-width: 1250px) {
    font-size: 20px;
    line-height: 136.5%;
    margin-bottom: 23px;

    span {
      color: #000;
    }
  }
}

.webinar-achievement__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  flex-wrap: wrap;

  @media (max-width: 1250px) {
    gap: 35px;
    justify-content: center;
  }
}

.webinar-achievement__card {
  border: 1px solid #958578;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 14px 22px 26px 22px;
  max-width: 300px;
  font-size: 15px;
  line-height: 17px;
  position: relative;

  &::before {
    content: '';
    width: 43px;
    height: 43px;
    position: absolute;
    background: url("../../assets/img/consultation/list_marker.svg");
    background-size: cover;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 1250px) {
    background: #F4E7DD;
  }
}

.webinar-cards {
  display: flex;
  justify-content: space-between;
  
  @media (max-width: 1250px) {
    display: none;
  }
}

.webinar-card {
  //border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  max-width: 297px;
  border-top: none;
}

.webinar-card__img {
  max-width: 296px;
  max-height: 256px;
  position: relative;
  background: linear-gradient(180deg, rgba(149, 133, 120, 0) 0%, #958578 100%);
  border-radius: 0px 0px 20px 20px;
  z-index: 10;

  img {
    max-width: 100%;
    width: 296px;
    height: 256px;
    background: linear-gradient(180deg, rgba(149, 133, 120, 0) 0%, #958578 100%);
    border-radius: 0px 0px 20px 20px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 120px;
    background: url("../../assets/img/webinar/shadow.png");
    bottom: 0;
  }
}

.webinar-card__img__text {
  color: #FFFFFF;
  position: absolute;
  bottom: 28px;
  left: 20px;
  text-align: left;
}

.webinar-card__img__text__type {
  font-size: 15px;
  line-height: 17px;
}

.webinar-card__img__text__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.webinar-card__content {
  padding: 46px 19px 47px 19px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.6);
  top: -30px;
  //z-index: -1;
  border-radius: 20px;
}

.webinar-card__content__text {
  max-width: 255px;
  font-size: 16px;
  line-height: 19px;
  color: #8F8F8F;
  text-align: left;
}

.webinar-btn {
  @include link-reset;
  @include gold-btn;
  padding: 9px 42px;
  font-weight: 500;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;

  @media (max-width: 1250px) {
    width: 221.03px;
    font-size: 20px;
    line-height: 23px;
  }
}

