h1 {
  font-family: 'MADE Evolve Sans', sans-serif;
  font-size: 40px;
}

h2 {
  font-family: 'Kudryashev';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

//font-family: 'Gotham', sans-serif;
//font-family: 'Gotham Black', sans-serif;
//font-family: 'Gotham Light', sans-serif;
//font-family: 'Gotham Thin', sans-serif;
//font-family: 'Gotham XLight', sans-serif;
//font-family: 'Gotham Book', sans-serif;
//font-family: 'Gotham Ultra', sans-serif;